data/
reports/
logs/

# 環境変数ファイル
.env
.streamlit/secrets.toml
.streamlit/config.toml

# Python
__pycache__/
*.py[cod]
*$py.class
test.py

# 仮想環境
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# その他
.DS_Store 
